@import "tailwindcss";

:root {
  --background: #F5F7FA;
  --foreground: #171717;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes draw-check {
  0% {
    stroke-dashoffset: 24;
  }

  30% {
    stroke-dashoffset: 0;
  }

  70% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 24;
  }
}

.animate-spin-slow {
  animation: spin-slow 2.5s linear infinite;
}

.animate-draw-reset .check-path {
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
  animation: draw-check 2.5s ease-in-out infinite;
}

@layer utilities {
  .animate-slideUp {
    animation: slideUp 0.3s ease-out;
  }

  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }

    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
}